<footer class="footer text-center" id="contact">
  <h2> Questions? Concerns? Comments? Talk to us! </h2>
  <hr class="bold" style="background-color: white !important;"/>
  <h4><b>General Inquiries:</b> hello@intrusive.tech</h4>
  <ul class="icons">
    <li>
      <a href="#"><i class="fa fa-github fa-3x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-paper-plane fa-3x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-twitter fa-3x"></i></a>
    </li>
    <li>
      <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
    </li>
  </ul>
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
  
  <!-- jQuery smooth scroll -->
  <script src="{{site.baseurl}}/js/smooth-scroll.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  
  <script>
    smoothScroll.init();
  </script>
</footer>