<footer class="footer text-center" id="contact">
  <div class="row">
    <div class="col-md-12">
      <h2> Questions? Concerns? Comments? Talk to us! </h2>
      <hr class="bold" style="background-color: white !important;"/>
    </div>
  </div>

  <ul class="icons">

    <li>
      <a href="https://github.com/intrusive"><i class="fa fa-github fa-3x"></i></a>
    </li>
    <li>
      <a href="mailto:hello@intrusive.tech"><i class="fa fa-paper-plane fa-3x"></i></a>
    </li>
    <li>
      <a href="https://twitter.com/intrusivetech/"><i class="fa fa-twitter fa-3x"></i></a>
    </li>
    <li>
      <a href="https://facebook.com/intrusivetech"><i class="fa fa-facebook fa-3x"></i></a>
    </li>
    <li>
      <a href="https://instagram.com/intrusivetech"><i class="fa fa-instagram fa-3x"></i></a>
    </li>
  </ul>
  <br />
  
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
  
  <!-- jQuery smooth scroll -->
  <script src="{{site.baseurl}}/js/smooth-scroll.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
  
  <script>
    smoothScroll.init();
  </script>
</footer>