<!-- Header Carousel -->
<header class="header text-center" 
    style="
    background-color: #000 !important;
    background: url('{{ page.wallpaper }}') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
    color: white;
    opacity: 0.9">
    
  <img class="" width="150px" src="img/logo.png"/>
  <h2 class="subheading">{{ page.subheading }}</h1>
  {% if page.button %}<a data-scroll href="#intro" class="btn btn-primary-outline btn-header page-scroll">Want to learn more?</a>{% endif %}
</header> 